<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.charles.demo.data2.mapper.CommunityRainMapper">
    <select id="getUserList" resultType="java.util.HashMap">
        SELECT t.* FROM system.giswater t
        where 1=1
        <if test="areaName!=null and areaName!=''">
            and t.QUYU=#{areaName}
        </if>
    </select>
</mapper>