<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.charles.demo.data1.mapper.CommunityInformationMapper">
    <select id="getCommunityInf" resultType="java.util.HashMap">
        <!--其中大小号必须转换 其他符号可选
        &quot;为"即双引号
        &lt;为<即小于号
        &gt;为>即大于号-->
        select
        t.小区经理名称,
        t.街道名称,
        t.MINX,
        t.MINY,
        t.小区地址,
        t.所属区县,
        t.小区名称,
        t.小区类型,
        t.OBJECTID,
        t.总门牌数
        from gis_community t
        where 1=1
        <if test="areaName!=null and areaName!=''">
            and t.区县=#{areaName}
        </if>
    </select>

    <select id="getCommunityNum" resultType="Integer">
        select count(*) from gis_community
        where 1=1
        <if test="areaName!=null and areaName!=''">
            and 区县=#{areaName}
        </if>
    </select>
</mapper>